<div class="container col-lg-5 bg-secondary bg-opacity-25 mt-2 rounded-4">
    {{ form_start(form) }}


            Du {{ form_widget(form.startedAt) }}

            Au {{ form_widget(form.endedAt) }}

    <div class="text-center pb-2">
        <button type="submit" class="btn btn-primary mt-3 col-3"><i class="bi bi-check-lg me-2"></i><span>envoyer</span></button>
    </div>
    {{ form_end(form) }}
</div>