{% extends 'base.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% block body %}
    <div class ="container">
        <h1 class ="text-center"><i class="bi bi-gear me-2"></i> Faire une réservation</h1>

    {{ include('schedule_rental/_form.html.twig') }}
        <div class ="text-center m-3">
    <a href="{{ path('app_schedule_rental_customer') }}">retour à la liste des réservations</a>
        </div>
    </div>
{% endblock %}
