{% extends 'base.html.twig' %}

{% block title %}Edit Availablity{% endblock %}

{% block body %}
    <h1>Edit Availablity</h1>

    {{ include('availablity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_animal_availablities_edit', {id: availablity.animal.id}) }}">Retour aux disponibilités</a>

    {{ include('availablity/_delete_form.html.twig') }}
{% endblock %}
