{% extends 'base.html.twig' %}

{% block title %}Ajouter une disponibilité{% endblock %}

{% block body %}
    <div class = "container">
        <h1 class ="text-center"><i class="bi bi-gear me-2"></i> Ajouter une disponibilité</h1>

    {{ include('availablity/_form.html.twig') }}
<div class ="text-center m-3">
    <a href="{{ path('app_animal_availablities_edit', {id:animal.id}) }}">Retour à la liste des disponibilités</a>
</div>
    </div>
{% endblock %}
